@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
  font-family: 'Roboto';
  //font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #eee;
  color:#666;
}

.logo {
  width: 90px;
  margin-bottom: 40px;
}

.rounded-pill {
  border-radius: 6px !important;
}

.login-container{
  height: 100vh;
  width: 100%;
  background: url('/BG.jpg');
}
.login-form{
  margin: auto;
  width: 370px;
  padding: 35px;
  max-width: 100%;
  background: white;
  border-radius: 20px;
}
.login-form .form-control{
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}
.login-form a{
  text-decoration: none;
  color:#666;
}
.login-form a:hover{
  color:#37333c;
}
.forgot-link{
  font-size: 13px;
}

.form-control:focus{
  border-color:#37333c;
  box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}
.btn-custom{
  background: linear-gradient(to right, #8552F6, #401DBE);
  color:#fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
  background: linear-gradient(to right, #8552F6, #401DBE);
  color:#fff;
}
.btn-custom:focus{
  box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}

.mt-5, .my-5 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}